html, body {
  margin: 0;
  padding: 0;
}

 @font-face {
        font-family: Suisse;
        src: url(font/SuisseIntl-BlackItalic.otf);
      }
      body,
      textarea{
        font-family: Suisse;
      }

textarea{
resize: none;
        position: relative;
        top: 0;    
        left: 0;
        padding: 1em;
        margin: 1em;
        background-color: rgba(28, 81, 255, 0.66);
        border: 1px solid rgb(0, 152, 127);
        width: 20em;
        height: 10em;
}

canvas {
  display: block;
}